<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="loginStyle.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="design.css">
    <script src="loginScript.js" defer></script>
</head>
<body>
    <p><a href="/members">Medlemmar</a><a href="/">Hem</a><a id="lank" href="/login">Logga in</a></p>

    <div class="header">
    
        <div class="text">
        <h1>Logga in</h1>
        <h3>Fyll i formuläret för att lägga till en ny medlem<h3>
       

    </div>
    </div>
    <div class="box">

         Användarnamn<br/><br/>
         <input id="userr" type="användarnamn" required><br/><br/>
         Password <br/><br/>
         <input id="password" type="password" required><br/><br/>
         <button id="loginBtn" type="submit">Logga in</button>
        
        


    </div>
    
    
</body>
</html>