<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="design.css">
    <link rel="stylesheet" href="memberlistStyle.css">
    <script src="loginScript.js" defer></script>
    <script src="localStorageScript.js" defer></script>
</head>
<body>
    <p class="links"><a id="addmemberLink" href="/addmember">Lägg till medlem</a><a id="membersLink" href="/members">Medlemmar</a><a id="homeLink" href="/">Hem</a><a id="loginLink" href="/login">Logga in</a></p>
    
    <div class="header">
        <div class="text">
            <h1>Medlemmar</h1>
            <h3>Nedan kan du se alla våra medlemmar</h3>
        </div>
    </div>

    <div class="members">
        <ul class="remove">
            <li class="List" th:id="${member.id}" th:each="member : ${members}"><br/>
                <a th:href="@{/member/{memberName}(memberName=${member.name})}"><br/>
                     <span th:text="${member.name}"></span>
                     <a th:href = "@{/remove-member/{memberId}(memberId=${member.id})}" ><button  id="removeBtn">Ta bort</button>
            </li>
        </ul>
    </div>
</body>
</html>