<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="/headerStyle.css">
    <link rel="stylesheet" href="/designStyle.css">
    <link rel="stylesheet" href="/memberInfoStyle.css">
    
    <script src="/adminScript.js" defer></script> 
</head>
<body>
    <div>
        <p id="admincheck">Ej inloggad</p>
        <p class="links"><a id="addmemberLink" href="/addmember">Lägg till medlem</a>
            <a id="membersLink" href="/members">Medlemmar</a>
            <a id="homeLink" href="/">Hem</a><a id="loginLink" href="/login">Logga in</a></p>
    </div>
    
    <div class="header">
        <div class="text">
            <h1>Information om <span th:text="${member.fName}"></span>
            <h3>Se nedan</h3>
        </div>
    </div>

    <div class="info">
        Förnamn: <span th:text="${member.fName}"></span><br/><br/>
        Efternamn: <span th:text="${member.lName}"></span><br/><br/>
        Email: <span th:text="${member.email}"></span><br/><br/>
        Stad: <span th:text="${member.stad}"></span><br/><br/>
        <a href="/members"><u>Tillbaka till alla medlemmar</u></a>
    </div>   
</body>
</html>