<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="design.css">
    <script src="loginScript.js" defer></script>
    <script src="localStorageScript.js" defer></script>
    
</head>
<body>
    <p class="links"><a id="addmemberLink" href="/addmember">Lägg till medlem</a><a id="membersLink" href="/members">Medlemmar</a><a id="homeLink" href="/">Hem</a><a id="loginLink" href="/login">Logga in</a></p>
    
    <div class="header">
        <div class="text">
            <h1>Välkommen</h1>
            <h3>Här är min prototyp för eran medlemssida</h3>
        </div>
    </div> 

    <div class="aboutUs">
        <h2>Om oss</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, dignissimos odit voluptates qui illum autem voluptas maxime recusandae corporis quis amet assumenda doloribus quam? Earum vitae laudantium officiis voluptatibus ab?</p><br/>
        <p></p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet animi magnam explicabo excepturi, illum, perspiciatis iure sit corporis odio eveniet adipisci dignissimos consequatur vitae, necessitatibus nemo maxime velit suscipit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque magni illo enim quisquam, accusamus necessitatibus, dolorem quidem, ea pariatur ullam obcaecati! Provident, sit unde facere illo dignissimos voluptas nostrum magnam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A ratione hic laboriosam esse possimus at reiciendis cumque. Dolores dolore tenetur veritatis labore dicta, culpa, est ad, voluptate repellendus sequi nemo.</p>
    </div>
</body>
</html>