<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="design.css">
    <script src="loginScript.js" defer></script>
    <script src="start.js" defer></script>
    
</head>
<body>
    <p><a id="addmemberLink" href="/addmember">Lägg till medlem</a><a href="/members">Medlemmar</a><a href="/">Hem</a><a id="lank" href="/login">Logga in</a></p>
    <div class="header">
        
        <div class="text">
        <h1 id="txt">Välkommen</h1>
        <h3> Det här är min prototyp för eran medlemssida<h3>
       

    </div>
    </div>

   
    
</body>
</html>