#admincheck{
    margin:0;
    padding-left: 5rem;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight:bold;
    color:black;
    float: left;
}

a{
    margin-right: 30px; 
}

.links{
    margin-right: 30px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:black;
    text-align: right;
}
 a:link {
    text-decoration: none;
}

#addmemberLink{
    border-left: 3px solid black;
    padding-left: 2rem;
}
#membersLink{
    border-left: 3px solid black;
    padding-left: 2rem;
}
#homeLink{
    border-left: 3px solid black;
    padding-left: 2rem;
}
#loginLink{
    border-left: 3px solid black;
    padding-left: 2rem;
}