.box{
    background-color: rgb(180, 211, 195);
    outline: solid 2px rgb(96, 116, 107);
    
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight:bold;
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
}